$typeface: Menlo;
$header-font-size: 24px;
$bg-color: #EEE;

body {
	background-color: $bg-color;
}

#container {
	padding: 50px;
}

#header {
	padding: 20px 0 0 0;
	font-family: $typeface;
	font-size: $header-font-size;
	font-weight: bold;
	line-height: 2.2em;
	background-color: $bg-color;
	color: #000;
}


.header-element {
	position: relative;
	margin: 0 0.5em 0 0;
	transition: left 0.3s, opacity 0.3s linear;
	-webkit-transition: left 0.3s, opacity 0.3s linear;	
	
	&.on {
		opacity: 1;
		left: 0px;
	}

	&.off {
		opacity: 0;
		left: 10px;
	}
}

select {
	&.header-element {
		height: 1.8em;
		font-family: $typeface;
		font-size: $header-font-size;
		position: relative;

		transition: left 0.3s, opacity 0.3s linear;
		-webkit-transition: left 0.3s, opacity 0.3s linear;	

		&.on {
			opacity: 1;
			left: 0px;
		}
		&.off{
			opacity: 0;
			left: 10px;
		}
		
		&.hidden {
			display: none;
		}
	}
}

.select-options * {
	font-family: $typeface;
}