$typeface: Menlo;
$header-font-size: 24px;

#container {
	padding: 50px;
}

#header {
	padding: 20px 0 0 0;
	font-family: $typeface;
	font-size: $header-font-size;
	line-height: 2.5em;
	background-color: white;
}


.header-element {
	margin: 0 0.5em 0 0;

}

select {
	&.header-element {
		height: 1.8em;
		font-family: $typeface;
		font-size: $header-font-size;
		position: relative;


		transition: left 0.5s, opacity 0.1s linear;
		-webkit-transition: left 0.5s, opacity 0.1s linear;	

		&.on {
			opacity: 1;
			left: 0px;
		}
		&.off{
			opacity: 0;
			left: 50px;
		}
		
		&.hidden {
			display: none;
		}
	}
}

.select-options * {
	font-family: $typeface;
}